{# 公共html模板， 用于 添加 或者 修改 页面， 文件上传除外#}

{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="container">
        {#面板#}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <div class="panel-body">
                {#表单#}
                <form method="post" novalidate>
                    {% csrf_token %}

                    {% for obj in form %}
                        <div class="form-group">
                            <label>{{ obj.label }}</label>
                            {{ obj }}
                            <span style="color: red">{{ obj.errors.0 }}</span>
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">提 交</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}